-i https://pypi.org/simple/
alembic==1.6.5
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
click==8.0.1
cryptography==3.4.7
flask-login==0.5.0
flask-migrate==2.5.3
flask-script==2.0.6
flask-sqlalchemy==2.4.1
flask==1.1.2
greenlet==1.1.0 ; python_version >= '3'
gunicorn==20.0.4
idna==2.10
itsdangerous==2.0.1
jinja2==3.0.1
mako==1.1.4
markupsafe==2.0.1
ndg-httpsclient==0.5.1
psycopg2==2.8.5
pusher==3.0.0
pyasn1==0.4.8
pycparser==2.20
pynacl==1.4.0
pyopenssl==20.0.1
python-dateutil==2.8.1
python-dotenv==0.13.0
python-editor==1.0.4
requests==2.25.1
six==1.16.0
sqlalchemy==1.4.17
urllib3==1.26.5
werkzeug==2.0.1
